body{
	background-color:purple
}
h1.title{
	border:solid;
	background-color:aqua;
	width:320px;
}
h1.search{
	border:solid;
	background-color:white;
	width:105px;
	text-align:center;
}
.title-header{
	text-align: center;
	margin-left: 450px;
}
.search-bar{
	text-align:right;
	margin-left: 150px;
}
.title-header, .search-bar{
	display:inline-block;
}
a.page1 img {
    width: 100%;
    height: 100%;
    display: block;
}
a.page2 img {
	width: 365px;
	height: 492px;
	display: block;
}
button.page2 {
	text-align: right;
	margin-left: 10px;
}
iframe.page1{
	width: 1200px;
	height: 850px;
	text-align:center;
	margin-left: 25px;
	margin-top: 14px;
}
iframe.page2{
	width: 600px;
	height: 850px;
	text-align:center;
	margin-left: 350px;
	margin-top: 14px;
}
a.page1 img, a.page2 img {
	display: inline-block;
}